
body {
  background-color: blue;
  font-family: sans-serif;
  text-align: center;
  color: white;
}


ul {
  list-style-type: none;
  margin: 0;
  margin-right: 500px;
  margin-left: 500px;
  padding: 0;
  /* width: 200px; */
  background-color: black;
  border: solid;
}


/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

p {
  font-family: fantasy;
}

h1 {
  color: #ffff00;
}


h2 {
  color: #80ff00;
}
